<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/ronald-leung/Udacity-Exercises/tree/develop/DataScienceNanoDegree/Project2">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                    <div class="col-lg-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>

        <h4>The following diagram shows an overview of the available data we have, and also the resulting machine learning model's F1 score.
            You can see that for some categories, we have about 20,000 rows of data, but for other categories, we barely have any.
            The high F1 score are likely misleading due to the lack of positive data.
        </h4>
        <img class="img-thumbnail" src="/static/img/Available Data vs F1 score.png">

        <h4> This is a similar graph, displaying out of the twenty or so thousand of records, what percentage of the trained data actually have the category marked as positive.
            You can see that for the column with the highest amount of positive data, it is over 80% of the data. You can see the trend line of the F1 score as the percentage
            of positive data decreases.
        </h4>
        <img class="img-thumbnail" src="/static/img/Percentage vs F1 score.png"/>

        <h4>
            It's also interesting to see how the data was trained. One way is just to take a look at what words are appearing in the messages for each category.
            The following are word cloud generated for various categories, this is the one for messages marked as "earthquake".
        </h4>
        <img class="img-thumbnail" src="/static/img/wordcloud_earthquake.png"/>

        <h4>This is the word cloud for "aid_related".</h4>
        <img class="img-thumbnail" src="/static/img/wordcloud_aid_related.png"/>

        <h4>And this is the word cloud for "related". To see the python code and the Jupyter notebook for generating this word cloud, see the
            <a href="https://github.com/ronald-leung/Udacity-Exercises/tree/develop/DataScienceNanoDegree/Project2">Github repo</a>.
        </h4>
        <img class="img-thumbnail" src="/static/img/wordcloud_related.png"/>

    {% endblock %}

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}
</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>
